.noticeItem{
  padding: 5px 0;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  border-top: 1px solid #EDEDED;
}

.itemLogo{
  width: 40px;
  height: 40px;
  :global{
    .adm-image{
      border-radius: 20px;
    }
  }
}

.itemContent{
  margin-left: 10px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}

.state{
  position: absolute;
  top: 13px;
  right: 24px;
}

.hide{
  display: none;
}

.contentTop{
  display: flex;
  align-items: center;
  height: 20px;
  width: 100%;
  margin-bottom: 5px;
  align-items: center;
  .name{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-right: 4px;
  }
  .content{
    align-items: center;
    font-family: 'DengXian';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: #333333;
  }
}

.contentBottom{
  height: 11px;
  width: 100%;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
}