.header{
  margin-bottom: 11px;
  margin-top: 8px;
  :global{
    .adm-search-bar{
      height: 28px;
    }
    .adm-search-bar-input-box{
      border-radius: 12px;
    }
  }
}

.main{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.mainHeader{
  padding: 22px 0;
  display: flex;
  justify-content: space-between;
  .recentSearch{
    font-family: 'DengXian';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 17px;
  }
}

.recentItem{
  flex: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
}