*{
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
}

body ,html, #root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html{
  padding: 0.3125rem 1.25rem 0 1.25rem;
}